
.card{
    padding: 0px 20px;
    width: 40%;
    font-size: .8rem;

}

.card--stats{
    display: flex;
    align-items: center;
}

.card--star{
    height: 14px;
}


.card-main-img{
    width:100%;
}